.create-posts {
    width: 60%;
}
.post-card {
    display: flex;
    border: .5px solid grey;
    margin: 25px;
    width: 90%;
    opacity: 1;
    animation: fadeInOpacity;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-duration: .1s;
    box-shadow: 5px 5px 5px grey;
}


.post-card:hover {
    transform: scale(1.01);
    transition: .5s;
    
}
.votes-cont {
    display: flex;
    flex-direction: column;
    border-right: .5px solid grey !important;
    justify-content: center;
    width: 20%;
    
}

.up-arrow {

    cursor: pointer;
}

.up-arrow:hover {
    color: red;
    transform: scale(1.5);
    transition: .5s;
}

.down-arrow:hover {
    color: red;
}

.info-div h3 {
    text-decoration: none !important;
}
.delete-div {
    display: flex;
    flex-direction: row;
}
.delete-button {
    padding: 10px;
    width: 23px;
}

.delete-button:hover {
    transform: scale(1.3);
    transition: ease-in .2s;
    cursor: pointer;
}

.user-date {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
    color: black;
}

.title {
    color: black;
    margin-left: 10px;
}



.please {
    text-decoration: none;
}

.down-arrow {
    transform: rotate(180deg);
    cursor: pointer;
}

.edit-div {
    width: 17%;
    text-decoration: none;
    color: black;
}
.edit-div:hover {
    background-color: #01a7c2;
    transition: ease-in .5s;
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.user-name {
    color: grey;
}
a {
    text-decoration: none;
    color: black;
}

.title-div {
    display: flex;
    align-self: flex-start;
}

time {
    color: grey;
}

.edit-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
}
.p-edit {
    margin-left: 20px;
}
.edit-button {
    margin-top: 5px;
    width: 15%;
    height: 35px;
    padding-right: 5px;
}
.edit-button:hover {
    transform: scale(1.1);
    transition: ease-in .2s;
}

.delete-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17%;
}

.delete-div:hover {
    background-color: #01a7c2;
    transition: ease-in .5s;
}

p {
    font-style: verdana;
}

.info-div {
    display: flex;
    flex-direction: column;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;
    background-color: white;
    /* border-style: solid; */
    /* border-color: black; */
    width: 30%;
}


.header {
    padding: 50px;
    margin-right: 410px;
    color: #EAEBED;
    font-size: 40px;
}

.button:hover {
    background-color: #006989;
    transition: ease-in 1s;
}
.button-text {
    text-decoration: none;
}
.pencil {
    margin-top: 10px;
    padding-left: 20px;
    height: 30px;
}


@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

